Jawaban 3.A1.

sequence adalah suatu struktur program dimana setiap baris program akan dikerjakan secara urut dari atas ke bawah sesuai dengan urutan penulisannya, sedangkan Pada selection tidak setiap baris program akan dikerjakan. Baris prorgam yang dikerjakan hanya yang memenuhi syarat saja.

Jawaban 3.A2.

a. Tipe data pada price adalah double

In [1]:
double price;
price = 10.00;
int age; 
age = 11;
System.out.print("Umur penonton : "+age); 
// code to reduce ticket price for children goes here 
System.out.println("Ticket price = " + price);

Umur penonton : 11Ticket price = 10.0

null

b.

In [8]:
double price=10.0;
double discount_price;
int age; 
discount_price=price/2;
age = 9;

 if (age > 14) { 
   System.out.println("Harga: "+price); 
 }else{ 
   System.out.println("Harga: "+discount_price); 
  }

Harga: 5.0

null

Jawaban 3.A3.

a.

In [9]:
int x; 
x = 10; 
 if (x > 10) { 
   System.out.println("Green"); 
 }else{ 
   System.out.println("Blue"); 
  } 

 System.out.println("Red");

Blue
Red

null

b.

In [10]:
int x; 
x = 20; 
 if (x > 10) { 
   System.out.println("Green"); 
 }else{ 
   System.out.println("Blue"); 
  } 

 System.out.println("Red");

Green
Red

null

Jawaban 3.A4.

In [11]:
int y; 

y = 1; 

switch (y) 
 { case 1: 
   case 2: 
   System.out.println("Green"); break; 
   case 3: 
   case 4: 
   case 5: System.out.println("Blue"); break; 
   default: System.out.println("numbers 1-5 only"); 
  } 
 System.out.println("Red");

Green
Red

null

b.

In [12]:
int y; 

y = 2; 

switch (y) 
 { case 1: 
   case 2: 
   System.out.println("Green"); break; 
   case 3: 
   case 4: 
   case 5: System.out.println("Blue"); break; 
   default: System.out.println("numbers 1-5 only"); 
  } 
 System.out.println("Red");

Green
Red

null

c.

In [13]:
int y; 

y = 3; 

switch (y) 
 { case 1: 
   case 2: 
   System.out.println("Green"); break; 
   case 3: 
   case 4: 
   case 5: System.out.println("Blue"); break; 
   default: System.out.println("numbers 1-5 only"); 
  } 
 System.out.println("Red");

Blue
Red

null

d.

In [16]:
int y; 

y = 10; 

switch (y) 
 { case 1: 
   case 2: 
   System.out.println("Green"); break; 
   case 3: 
   case 4: 
   case 5: System.out.println("Blue"); break; 
   default: System.out.println("numbers 1-5 only"); 
  } 
 System.out.println("Red");

numbers 1-5 only
Red

null

e.

In [17]:
int y; 

y = 3; 

switch (y) 
 { case 1: 
   case 2: 
   System.out.println("Green"); 
   case 3: 
   case 4: 
   case 5: System.out.println("Blue"); 
   default: System.out.println("numbers 1-5 only"); 
  } 
 System.out.println("Red");

Blue
numbers 1-5 only
Red

null

f.

In [18]:
int y; 

y = 10; 

switch (y) 
 { case 1: 
   case 2: 
   System.out.println("Green"); break; 
   case 3: 
   case 4: 
   case 5: System.out.println("Blue"); break; 
   
  } 
 System.out.println("Red");

Red

null

Jawaban 3.A5.

1.

In [22]:
for(int i = 1; i <= 4; i++) 
 { 
   System.out.println("YES "+i);  
 } 
 System.out.println("OK");

YES 1
YES 2
YES 3
YES 4
OK

null

2.

In [23]:
//program ulang1
 for(int i = 1; i <= 4; i++) 
 { 
   System.out.println("YES "+i);  
 } 
 System.out.println("OK");

YES 1
YES 2
YES 3
YES 4
OK

null

3.

In [24]:
//program ulang2
 for(int j = 12; j < 3; j--) 
 { 
   System.out.println("YES  "+j);  
 } 
System.out.println("OK");

OK

null

4.

In [25]:
//program ulang2
 for(int j = 12; j < 3; j--) 
 { 
   System.out.println("YES  "+j);  
 } 
System.out.println("OK");

OK

null

5.

Perbedaan kedua program ulang1 dan ulang2:

pada program ualng1 i++, ++ dalam bahasa pemrograman disebut increment (istilah lainnya menambahkan nilai variabel sebanyak 1),sedangkan
Pada program ulang2, terdapat j--, -- dalam bahasa pemrograman disebut decrement (istilah lainnya mengurangi nilai variabel sebanyak 1)

Jawaban 3.A6.

In [26]:
//program forif1
    for(int l=1; l<=10; l++)  
    { if (l > 5)   
      { break;   } 
        System.out.println(l);  
    }

1
2
3
4
5

null

In [27]:
//program forif2
    for(int i=1; i<=10; i++)  
    { if (i <= 5){ continue; } 
    System.out.println(i);}

6
7
8
9
10

null

Jawaban 3B

3.B1.

In [30]:
double x,y; 
x = 12;
y =19;
 if (x == y) { 
   System.out.println("NUMBERS ARE EQUAL"); 
 }else{ 
   System.out.println("NUMBERS ARE NOT EQUAL"); 
  }

NUMBERS ARE NOT EQUAL

null

3.B2

In [31]:
double x,y; 
x = 12;
y =12;
 if (x == y) { 
   System.out.println("NUMBERS ARE EQUAL"); 
 }else{ 
   System.out.println("NUMBERS ARE NOT EQUAL"); 
  }

NUMBERS ARE EQUAL

null

3.B3.

IF : Biasanya digunakan untuk melakukan pengecualian terhadap suatu kondisi, tanpa memerlukan blok perintah else. Karena tidak ada yang perlu dilakukan jika kondisi IF utama tidak terpenuhi.

IF...ELSE: Biasanya digunakan untuk membuat sebuah ekspresi yang melibatkan banyak aksi untuk kondisi yang berbeda, kondisi dan aksi tersebut bisa berjumlah lebih dari 2.

SWITCH: Switch-case digunakan untuk menangani kasus percabangan dengan kondisi berupa nilai konstanta tegas, biasanya berupa bilangan bulat atau karakter tunggal. Implementasi dari penggunaan switch-case adalah pada menu makanan, mesin atm, dan lain-lain. Perbedaan dasar dengan IF-ELSE dapat menangani berbagai macam ekspresi logika, sedangkan switch-case hanya berupa konstanta tegas.

3.B4.

In [34]:
int x=1;
       while (x<=5) {           
           System.out.println(+x);
           x++;
       }

1
2
3
4
5

null

In [42]:
int x=6;
       do{
           System.out.println(+x);
           x++;
       }while (x<=10);
   }

class, interface, or enum expected: class, interface, or enum expected